.placementDescriptionView .buttonrow{
    padding-top: 10px;

}

.placementContainer{
    position: relative;
}

.placementCarousel{
    display: flex;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    scroll-behavior: smooth;
    // Hide scrollbar in IE.
    -ms-overflow-style: none;
}

.placementCarousel::-webkit-scrollbar {
    display: none;
}

.placement{
    width: 100%;
    flex-shrink: 0;
    scroll-snap-align: start;
}

.savedCard{
    margin-top: 20px;
}

/*.center{
    margin: auto;
    width: 100%;
    border: 3px solid #73ad2100;
  }

.placement {
    
    margin-top: 30px;
    background-color:#ecedee;
    width: 90%;
    height: 100%;
    /*align-items: center;
    
    vertical-align: auto;
    margin: 0 auto;
    border-radius: 20px;
    
}

.frame {
    margin: 30px;
    vertical-align: auto;
    margin: 0 auto;
    border-radius: 20px;
}

.my-cardSaved{
    height: 275px;
}

.my-settings{
    height: 1250px;
}

.frame {
    margin: 40px;
    /*
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    
}


.placement h5 {
    color: white;
    font-weight: bold;
}

.boldText{
    font-weight: bold;
    color: white;
    text-align: center;
    font-size: small;
    padding: 5px;
}

img {
    width: 100%;
    max-height: 50px;
    height: auto;
}


.placement img {
    width: 100%;
    max-height: 100px;
    height: auto;
}

.btn-save {
    color: #fff;
    background-color: #c57ba0;
    /*border-color: #af6874;
    border-radius: 50%;
}

.btnApplyPlacement {
    margin-top: 5px;
}

.placement p{
    margin: 0;
}

.description {
    color: white;
    text-align: left;
    font-size: small;
    height: max-content;
    margin:0;
    
    /*font-weight: lighter;
 }

 .divider {
     height: 1px;
     width: 100%;
     background-color: white;
     margin-top: 5px;
     margin-bottom: 5px;
 }

 .btnPlacement{
     width: 100%;
     height: 30px;
     border-radius: 20px;
     text-align: center;
 }

 .more:hover{
  background-color: white;
  color: black;
 }

 .more{
    background-color: transparent;
    border: 2px solid white;
    color: white;
 }



 .apply{
    background-color: black;
    color: white;
 }

 .like{
     border-radius: 50%;
     width: 40px;
     height: 40px;
     box-sizing: border-box;
 }

.column {
    float: left;
    padding: 10px;
    width: 30%;
    border-radius: 10px;
    height: 40px;
    margin:0 auto;
  }
  
  .row{
    width: 100%;
    margin-top: 10px;
  }




/*__________


.scroll-container,
.scroll-area {
    height: 400px;
  max-width: 850%;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}
.scroll-container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.scroll-area {  
  scroll-snap-align: start;
  scroll-snap-stop: always;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-container,
.scroll-area {
  margin: 30px auto;
}

*/
