/*new shit*/
.center{
    margin: auto;
    width: 100%;
    border: 3px solid #73ad2100;
  }

.placement {
    
    margin-top: 30px;
    background-color:rgb(55, 142, 141) ;
    width: 90%;
    height: 425px;
    /*align-items: center;*/
    
    vertical-align: auto;
    margin: 0 auto;
    border-radius: 20px;
    
}

.frame {
    margin: 30px;
    /*
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    */
}

h5 {
    color: white;
    font-weight: bold;
}

.boldText{
    font-weight: bold;
    color: white;
    text-align: center;
    font-size: small;
    padding: 5px;
}

img {
    width: 100%;
    max-height: 50px;
    height: auto;
}

p{
    margin: 0;
}

.description {
    color: white;
    text-align: left;
    font-size: small;
    height: max-content;
    margin:0;
    
    /*font-weight: lighter;*/
 }

 .divider {
     height: 1px;
     width: 100%;
     background-color: white;
     margin-top: 5px;
     margin-bottom: 5px;
 }

 .btnPlacement{
     width: 100%;
     height: 30px;
     border-radius: 20px;
     text-align: center;
 }

 .more{
    background-color: white;
    color: black;
 }

 .apply{
    background-color: black;
    color: white;
 }

 .like{
     border-radius: 50%;
     width: 40px;
     height: 40px;
     box-sizing: border-box;
 }

.column {
    float: left;
    padding: 10px;
    width: 30%;
    border-radius: 10px;
    height: 40px;
    margin:0 auto;
  }
  
  .row{
    width: 100%;
    margin-top: 10px;
  }




/*__________*/


.scroll-container,
.scroll-area {
  max-width: 850%;
  height: 425px;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}
.scroll-container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
 


}

.scroll-area {  
  scroll-snap-align: start;

  display: flex;
  justify-content: center;
  align-items: center;
  
}

.scroll-container,
.scroll-area {
  margin: 30px auto;
}

.scroll-area {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}




#container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;

  border: 2px solid var(--gs0);
  border-radius: 8px;
  height: 60vh;
}

#container div {
  scroll-snap-align: start;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}
#container div:nth-child(1) {
  background: hotpink;
  color: white;
  height: 50vh;
}
#container div:nth-child(2) {
  background: azure;
  height: 40vh;
}
#container div:nth-child(3) {
  background: blanchedalmond;
  height: 60vh;
}
#container div:nth-child(4) {
  background: lightcoral;
  color: white;
  height: 40vh;
}