@page "/profilesettings"
@using Entities
@using System.ComponentModel.DataAnnotations;
@inject HttpClient httpClient


@if (keywords == null)
{
    <p><em>Loading...</em></p>
}
else
{    
    <div class="container settingsView">
        <div class="row">
            <div class="col-12">
                <h1>Profile settings</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <form>
                    <hr>
                    <div class="form-group">
                        <label for="degree">Degree</label>
                        <select class="form-control" id="degree">
                            @* TODO: Retrieve these from enum*@    
                            <option selected="selected" value="bachelor">Please select</option>
                        </select>
                    </div>
                    <hr>
                    <div class="form-group">
                        <label for="keywordSelect">Keywords</label>
                        <div class="form-group row" id="keywordSelect">
                            <div class="col-sm-6">
                                @for(var i = 0; i<keywords.Length/2; i++){
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id='@(keywords[i].ToString())'>
                                        <label class="form-check-label" for="exampleCheck1">@keywords[i]</label>
                                    </div>
                                }
                            </div>
                            <div class="col-sm-6">
                                @for(var i = keywords.Length/2; i<keywords.Length; i++){
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id='@(keywords[i].ToString())'>
                                        <label class="form-check-label" for="exampleCheck1">@keywords[i]</label>
                                    </div>
                                }                                
                            </div>
                        </div>
                    </div>
                    <hr>
                    <label> Working-hours </label>
                    <div class="form-group">
                        <label for="maxhours">Min. hours</label>
                        <input type="range" class="custom-range" id="maxhours" min="0" max="100">
                    </div>
                    <div class="form-group">
                        <label for="minhours">Max. hours</label>
                        <input type="range" class="custom-range" id="minhours" min="0" max="100">
                    </div>
                    <hr>
                    <div class="form-group">
                        <label for="salary">Salary</label>
                        <input type="range" class="custom-range" id="salary" min="0" max="100">
                    </div>
                    <hr>
                    <label>Agreement</label>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="yesAgreement" id="yesAgreement" value="yes" checked>
                                <label class="form-check-label" for="yesAgreement">
                                    Yes
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="noAgreement" id="noAgreement" value="no" checked>
                                <label class="form-check-label" for="noAgreement">
                                    No
                                </label>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="form-group">
                        <label for="zipcode">Zipcode</label>
                        <input type="number" class="form-control" id="zipcode">
                    </div>
                    <hr>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
}


@code {
    private String[] keywords;
    
    protected override async Task OnInitializedAsync()
    {
        keywords = await httpClient.GetFromJsonAsync<String[]>("KeywordRepository");
    }
}