@page "/redirectLogout"
@using Entities
@using System
@inject NavigationManager Navigation
@inject HttpClient httpClient

<h1>Logging out...</h1>

@code {
    protected override void OnInitialized()
    {
        Console.WriteLine("HELLO");
        Delay();
    }

    public async void Delay()
    {
        await Task.Delay(1000);
        Navigation.NavigateTo("https://localhost:4001/", true);
    }

}
