@page "/redirectLogut"
@using Entities
@inject NavigationManager Navigation
@inject HttpClient httpClient

<h1>Logging out...</h1>

@code {
    protected override void OnInitialized()
    {
        Delay();
    }

    public async void Delay()
    {
        await Task.Delay(1000);
        Navigation.NavigateTo("AzureADB2C/Account/SignIn", true);
    }

}
