@page "/studentrepository"

@using Entities
@inject HttpClient httpClient
@inject IJSRuntime JS;

<h1>Students</h1>

<p>This component fetches data from the Student repositry</p>

@if (students == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Degree</th>
                <th>MaxWorkingHours</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in students)
            {
                <tr>
                    <td>@student.Id</td>
                    <td>@student.Degree</td>
                    <td>@student.MaxWorkingHours</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Student[] students;

    protected override async Task OnInitializedAsync()
    {
        students = await httpClient.GetFromJsonAsync<Student[]>("StudentRepository"); 
    }
}